@media screen and (min-width: 981px) {
    .row {
        padding: 1.5%;
    }

    .col {
        padding: 0 1%;
    }
}

@media screen and (max-width: 980px) {
    header,
    main {
        padding: 0 1rem;
    }

    .col {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .form_col {
        flex-direction: column;
        align-items: initial;
    }

    .form_col p {
        margin-bottom: 5px;
    }
}