@media screen and (min-width: 981px) {
    .row {
        padding: 1.5%;
    }

    .col {
        padding: 0 1%;
    }
}

@media screen and (max-width: 980px) {
    header,
    main {
        padding: 5rem 1rem;
    }

    .col {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .form_col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
    }

    .form_col p {
        margin-bottom: 5px;
    }
}